* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  min-height: 100dvh;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.container {
  width: fit-content;
  height: 220px;
  padding: 1rem;
  background-color: #302f2ff7;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.key {
  margin: 0 1.5rem;
  color: #d9d7d7;
  font-size: 30px;
  border: 2px solid #838383;
  padding: .5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: border .2s ease-in;
}
div.key:hover {
  border-color: #294c6e;
}

span {
  font-size: 12px;
}